<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    
  </head`>
  <body>
    <div id="middle">

    <%- include('partials/header') %>

    <div class="content help">
      <h1><i>About</i></h1>
      <ul>
        <li>Lightweight, self maintained message board</li>
        <!-- <li>this site doesn't store anything permanently, beside authentication credentials</li> -->
        <li>Shouts are automatically removed after 1 days</li>
        <li>
          Threads are automatically removed 30 days after last reply. Reply to
          keep threads alive.
        </li>
         <li>
          Login to create new threads
        </li>
        <li>
          Log in to create new topics 
        </li>
      </ul>

      <br>
    
    </div>

  </script>
  </div>

  </body>

</html>