<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div id="left">
    </div>

    <div id="middle">

      <!-- header -->
      <%- include('partials/header') %>
    
      <div class="topicInfoBar">
        <div class="topicInfo" style="font-size: 30px";>
          /<%-topic%>
        </div>
       
      </div>
      
      <!-- shoutbox -->
      <%- include('partials/shoutbox') %>

      <!-- content -->
      <%- include('partials/content') %>

      <!-- end of middle -->   
    </div>

    <div id="right">
    </div>

</body>

</html>
